<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCD11KZV6hWOH4hXuN_431AOGGfEPalyso</string>
	<key>GCM_SENDER_ID</key>
	<string>70002321502</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.munevver</string>
	<key>PROJECT_ID</key>
	<string>munevver-39d6a</string>
	<key>STORAGE_BUCKET</key>
	<string>munevver-39d6a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:70002321502:ios:3c6dfc658e39f3c2c46ccf</string>
</dict>
</plist>